div.main-content {
    margin-top: 20px;
}

.bottom-gap {
    margin-bottom: 10px;
}

.floated {
    float:left;
    margin-right: 5px;
}

table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.table tbody > tr > td {
    vertical-align: middle;
}
